/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 60px + $global-padding;
  font-size: 15px;
}

h4 {
  font-size: 16px;
}

label {
  margin-bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

*:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}

.img-dummy-wrapper {
  position: relative;

  &:after {
    content: "\F030";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $gray-300;
  }
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 0 0;
}

.card {
  margin-bottom: $global-margin * 2;

  .card-title {
    margin-bottom: 0;
  }
}

.btn {
  height: 30px;
  line-height: 30px;
  border: 0 solid transparent;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  padding: 0 15px;
}

.btn.btn-light {
  background: $gray-200;

  &:hover {
    background: $gray-300;
  }
}
.btn-success {
  color: #fff;
  background-color: $green-primary;
  border-color: $green-primary;

  &:hover {
    background-color: lighten($green-primary, 5%);
    border-color: lighten($green-primary, 5%);
  }
}

.font-weight-bold {
  font-weight: 500;
}

.error-message {
  color: #d30808;
}

a.page-action {
  border-bottom: 1px dashed;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


/* LAYOUT */
header {
  margin-bottom: $global-margin;
  box-shadow: 0 0 5px #999;

  .navbar {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  ul.navbar-nav > li:first-child > a.nav-link {
    padding-left:  0;
  }
}
.header-top {
  background: $primary;
  color: $white;

  .navbar {
    float: left;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: $white;
  }

  .phones {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0 0.5rem;
    margin-right: $global-margin;
    font-size: 15px;
    line-height: 22px;
  }
  .phones {
    padding-left: 14px;

    i {
      position: absolute;
      top: 0.5rem;
      left: 0;
      font-size: 21px;
    }
  }
  .email {
    position: relative;
    float: right;
    display: inline-block;
    padding: ($global-padding / 2) 0;
    font-size: 15px;
    line-height: 22px;

    i {
      margin-right: 1px;
    }
  }

  .search-form {
    position: relative;
    float: right;
    width: 300px;
    margin: 7px 0;
  }
  .search-field {
    width: 100%;
    height: 24px;
    padding: 0 ($global-padding/2 + 24px) 0 $global-padding/2;
    border: none;
  }
  .search-submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;

    i:before {
      color: $body-color;
      opacity: 0.5;
    }
  }
}

.header-bottom {
  padding: $global-padding 0;
  border-top: 1px solid $primary-light;
  border-bottom: 1px solid $primary-light;

  .container {
    position: relative;
  }

  .navbar-brand.logo {
    float: left;
    width: auto;
    height: 65px;
    padding: 0;
    margin-right: 50px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .search-form {
    position: relative;
    float: left;
    width: 275px;
    margin-top: 17px;
    margin-right: 40px;

    input {
      width: 100%;
      height: 30px;
      line-height: 30px;
      padding: 0 30px 0 15px;
      background: #f7f7f7;
      border: 1px solid $primary;
      border-radius: 15px 15px 15px 15px;
      -moz-border-radius: 15px 15px 15px 15px;
      -webkit-border-radius: 15px 15px 15px 15px;
    }

    button {
      position: absolute;
      top: 0;
      right: 8px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      padding: 0;
      border: none;
      background: transparent;

      i {
        color: $primary;
      }
    }
  }

  .toogle-popup-question {
    float: left;
    width: 175px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin-top: 17px;
    margin-right: 25px;
    background: $primary;
    border: 0 solid transparent;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
  }

  .phones {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 17px;

    & > span {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }
    }

    .red {
      color: $primary;
    }
  }

  .navbar {
    float: right;
    height: 75px;
    margin-top: 45px;
    font-size: 18px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: $body-color;
    padding-left: $global-padding;
    padding-right: $global-padding;
  }
  ul.navbar-nav > li:last-child > a.nav-link {
    padding-right:  0;
  }
}

.breadcrumbs-wrapper {
  margin-left: -1 * $global-padding;
  margin-right: -1 * $global-padding;
  margin-bottom: $global-margin;

  .breadcrumb {
    margin-bottom: 0;
    background: none;
  }
}

h1 {
  padding-bottom: $global-padding/2;
  margin-bottom: $global-margin * 2;
  border-bottom: 1px solid $underline-border-color;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $light-gray-primary;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#main-content {
  padding: 81px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  height: 20px;
  line-height: 20px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.card-body.card-body-table {
  padding: 0 10px;

  .div-table .div-thead .div-tr:first-child {
    border-top: none;
  }
  .div-table .div-tbody .div-tr:last-child {
    border-bottom: none;
  }
}
