/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 60px + $global-padding;
  font-size: 15px;
}

h4 {
  font-size: 16px;
}

label {
  margin-bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

*:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}

.img-dummy-wrapper {
  position: relative;

  &:after {
    content: "\F030";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $gray-300;
  }
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 0 0;
}

.card {
  margin-bottom: $global-margin * 2;

  .card-title {
    margin-bottom: 0;
  }
}

.btn.btn-light {
  background: $gray-200;

  &:hover {
    background: $gray-300;
  }
}
.btn-success {
  color: #fff;
  background-color: $green-primary;
  border-color: $green-primary;

  &:hover {
    background-color: lighten($green-primary, 5%);
    border-color: lighten($green-primary, 5%);
  }
}

.font-weight-bold {
  font-weight: 500;
}

.error-message {
  color: #d30808;
}

a.page-action {
  border-bottom: 1px dashed;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


/* LAYOUT */
header {
  margin-bottom: $global-margin;
  box-shadow: 0 0 5px #999;

  .navbar {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  ul.navbar-nav > li:first-child > a.nav-link {
    padding-left:  0;
  }
}
.header-top {
  background: $green-primary;
  color: $white;

  //.navbar-dark .navbar-nav .nav-link {
  //  color: $white;
  //}

  .phones,
  .email {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0.5rem 0 0.5rem;
    margin-right: $global-margin;
    font-size: 15px;
    line-height: 22px;
  }
  .phones {
    padding-left: 14px;

    i {
      position: absolute;
      top: 0.5rem;
      left: 0;
      font-size: 21px;
    }
  }
  .email i {
    margin-right: 1px;
  }

  .search-form {
    position: relative;
    float: right;
    width: 300px;
    margin: 7px 0;
  }
  .search-field {
    width: 100%;
    height: 24px;
    padding: 0 ($global-padding/2 + 24px) 0 $global-padding/2;
    border: none;
  }
  .search-submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;

    i:before {
      color: $body-color;
      opacity: 0.5;
    }
  }
}

.header-bottom {
  padding: $global-padding 0;

  .container {
    position: relative;
  }

  .logo {
    float: left;
    width: auto;
    height: 120px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .toogle-popup-question {
    position: absolute;
    top: $global-padding;
    right: $global-padding;
  }

  .navbar {
    float: right;
    height: 75px;
    margin-top: 45px;
    font-size: 18px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: $body-color;
    padding-left: $global-padding;
    padding-right: $global-padding;
  }
  ul.navbar-nav > li:last-child > a.nav-link {
    padding-right:  0;
  }
}

.breadcrumbs-wrapper {
  margin-left: -1 * $global-padding;
  margin-right: -1 * $global-padding;
  margin-bottom: $global-margin;

  .breadcrumb {
    margin-bottom: 0;
    background: none;
  }
}

h1 {
  padding-bottom: $global-padding/2;
  margin-bottom: $global-margin * 2;
  border-bottom: 1px solid $underline-border-color;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $light-gray-primary;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#main-content {
  padding: 81px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  height: 20px;
  line-height: 20px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.card-body.card-body-table {
  padding: 0 10px;

  .div-table .div-thead .div-tr:first-child {
    border-top: none;
  }
  .div-table .div-tbody .div-tr:last-child {
    border-bottom: none;
  }
}
