body.home {
  header {
    margin-bottom: 0;
    box-shadow: none;
  }

  .short-content {
    padding-top: $global-padding * 6;
    padding-bottom: $global-padding * 2;

    h1 {
      padding-bottom: 0;
      margin-bottom: $global-margin * 1;
      border-bottom: none;
      font-size: 30px;
      @include font-family-lato-bold;
    }

    p {
      padding-left: $global-padding * 2;
      text-align: justify;
    }

    .catalog-wrapper {
      padding-left: $global-padding * 2;

      a.btn {
        width: 190px;
      }
    }
  }

  .slick-wrapper{
    margin-right: -450px;
  }

  .product-categories {
    margin-top: $global-margin * 3;
    margin-bottom: $global-margin * 2;

    h2 {
      font-size: 24px;
      margin: 0 0 $global-margin 0;
      @include font-family-lato-bold;
    }
  }

  .about_us {
    padding-top: $global-padding * 4;
    background: #f7f7f7;

    h3 {
      font-size: 24px;
      margin-bottom: $global-margin;
      @include font-family-lato-bold;
    }

    .row {
      margin-left: -1 * ($global-padding * 2);
      margin-right: -1 * ($global-padding * 2);

      & > div {
        padding-left: $global-padding * 2;
        padding-right: $global-padding * 2;
      }
    }

    .about-item {
      position: relative;
      padding-left: 60px;
      margin-bottom: $global-padding * 4;
      text-align: justify;

      .icon {
        position: absolute;
        top: 6px;
        left: 0;
        display: block;
        width: 45px;
        height: 45px;
        background-size: cover;

        &.store {
          background-image: url("./../../../src/img/home/about-item/store.svg");
        }
        &.world-cooperation {
          background-image: url("./../../../src/img/home/about-item/world-cooperation.svg");
        }
        &.task {
          background-image: url("./../../../src/img/home/about-item/task.svg");
        }
        &.delivery {
          background-image: url("./../../../src/img/home/about-item/delivery.svg");
        }
      }
    }
  }

  .contacts {
    width: 100%;
    overflow-x: hidden;
    background: rgba($red-primary, 0.8);

    .contact-form {
      padding-top: $global-padding * 3;

      .form-title {
        margin-bottom: $global-margin * 2;
        font-size: 24px;
        color: $white;
        @include font-family-lato-bold;
      }

      .row > .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
      }

      input,
      textarea {
        padding: 6px;
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid white;
        color: $white;

        &::placeholder {
          color: $white;
        }
      }
      input {
        width: 60%;
      }
      textarea {
        height: 35px;
      }

      button,
      button:active,
      button:focus:active {
        float: left;
        width: 190px;
        background: white;
        color: $body-color;
        box-shadow: none;
      }
    }

    #contact-map {
      margin-right: -450px;

      .google-map-viewport {
        height: 600px;
      }
    }
  }
}
