body.page-id-6 {
  .info {
    margin-bottom: $global-margin * 2;

    p {
      margin-bottom: $global-margin / 2;
    }
  }

  .map {
    margin-bottom: $global-margin * 2;
  }

  .contact-form {
    .form-title {
      margin-bottom: $global-margin;
      font-size: 24px;
      @include font-family-lato-semibold;
      text-align: center;
    }

    textarea {
      height: 140px;
    }

    button {
      width: 190px;
      max-width: 100%;
    }
  }
}
