body.page-id-72 {
  h1 {
    margin-bottom: 0;
  }

  .content {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .div-table.price-list {
    .div-tr.category {
      background: $light-gray-primary;
    }
  }
}
