.product-category-grid {
  .product-category {
    padding: $global-padding;
    margin-bottom: $global-margin;

    .name-wrapper {
      width: 100%;

      .name {
        display: table;
        width: 100%;
        height: 66px;
        overflow: hidden;

        a {
          display: table-cell;
          margin: 0;
          vertical-align: middle;
          text-align: center;
          color: $body-color;
        }
      }
    }

    &:hover {
      @include block-shadow;

      .name-wrapper {
        .name {
          a {
            color: $primary;
          }
        }
      }
    }
  }
}
