body.single-product {
  @include media-breakpoint-up(md) {
    .row-product-grid {
      margin-bottom: $global-margin * 2;

      & > .col-md-3 {
        flex: 0 0 30%;
        max-width: 30%;
      }

      & > .col-md-9 {
        flex: 0 0 70%;
        max-width: 70%;
      }
    }
  }


  .images-block {
    margin-bottom: $global-margin * 2;

    .preview,
    .thumbnail {
      border: 1px solid $gray-primary;
    }

    .thumbnails {
      padding-left: 0;
      padding-right: 0;
      margin-top: -1 * $global-padding/2;
    }

    .thumbnail-wrapper {
      width: 50%;
      float: left;

      .thumbnail {
        margin: $global-padding/2;
      }
    }
  }

  .price-block {
    padding-top: $global-padding * 2;

    .price-value {
      display: inline-block;
      max-width: 100%;
      width: 190px;
      height: 36px;
      line-height: 36px;
      color: $white;
      background: $primary;
      border: 0 solid transparent;
      border-radius: 18px;
      -moz-border-radius: 18px;
      -webkit-border-radius: 18px;
      padding: 0 18px;
      margin-bottom: 20px;
      font-size: 16px;
    }

    button.btn {
      max-width: 100%;
      width: 190px;
      height: 36px;
      line-height: 36px;
      background: $primary;
      border-radius: 18px;
      -moz-border-radius: 18px;
      -webkit-border-radius: 18px;
      color: $body-color;
      background: $white;
      font-size: 16px;
    }
  }

  .info-block {
    margin-bottom: $global-margin * 2;

    .tab-pane {
      padding-top: $global-padding;
      padding-bottom: $global-padding;
    }

    #properties .div-table .div-tbody {
      .div-tr:first-child {
        border-top: none;
      }
    }
  }

  #video {
    .video {
      position: relative;
      display: block;

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      iframe {
        width: 100% !important;
        height: auto;
        min-height: 250px;
      }
    }
  }
}
