#popup,
#popup-question {
  .modal-header {
    position: relative;
    padding-top: $global-padding * 2;
    padding-bottom: $global-padding * 2;
    border-bottom: none;
  }
  .modal-body .modal-header {
    margin-top: -1 * $global-padding;
    margin-left: -1 * $global-padding;
    margin-right: -1 * $global-padding;
  }

  .modal-title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1;
    @include font-family-lato-bold;
    text-align: center;
  }

  .popup-title {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    line-height: 1;
    font-weight: 500;
  }

  .popup-footer {
    margin-top: 2rem;
  }

  .modal-content button.close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background: $primary;
    color: $white;
    z-index: 3;
    opacity: 1;
  }

  .modal-body {
    min-height: 100px;

    form {
      margin-left: $global-margin;
      margin-right: $global-margin;
    }

    input,
    textarea {
      padding-left: 0;
      padding-right: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $body-color;

      &:focus {
        border-bottom: 1px solid $primary;
      }
    }

    textarea {
      height: 35px;
    }
  }

  button[type="submit"] {
    width: 190px;
    margin: 0 auto;
    margin-bottom: $global-margin;
  }

  &.loading .modal-body:before {
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    background-color: white;
    z-index: 1;
  }
  &.loading .modal-body:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../img/loader.svg") no-repeat 50% 50%;
    z-index: 2;
  }
}
