#popup,
#popup-question {
  .modal-title {
    font-size: 1.5em;
    line-height: 1;
    font-weight: 500;
  }

  .popup-title {
    margin: 0 (-1 * $global-margin) $global-margin;
    padding: 0 $global-padding $global-padding $global-padding;
    border-bottom: 1px solid $underline-border-color;
    font-size: 1.5em;
    line-height: 1;
    font-weight: 500;
  }

  .popup-footer {
    margin-top: 2rem;
  }

  .modal-content button.close {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 3;
  }

  .modal-body {
    min-height: 100px;
  }

  &.loading .modal-body:before {
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    background-color: white;
    z-index: 1;
  }
  &.loading .modal-body:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../img/loader.svg") no-repeat 50% 50%;
    z-index: 2;
  }
}
