ul.product-sidebar-menu {
  padding: 0;
  margin: 0 0;
  list-style: none;

  & > li {
    border-right: 1px solid $gray-primary;
    border-bottom: 1px solid $gray-primary;
    margin-bottom: 4px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    position: relative;

    &:after {
      content: " ";
      position: absolute;
      top: 14px;
      right: 10px;
      width: 7px;
      height: 7px;
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
      transform: rotate(45deg);
    }

    &.active {
      & > a {
        color: $primary;
      }

      &:after {
        top: 18px;
        border-right: 1px solid $primary;
        border-bottom: 1px solid $primary;
        transform: rotate(225deg);
      }
    }

    &.post:after,
    &.post.active:after {
      display: none;
    }
  }

  a {
    display: block;
    padding: $global-padding/2 25px $global-padding/2 0;
    color: $body-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  & li > ul {
    & > li > a {
      padding-left: $global-padding;
    }

    li.post a {
      padding-left: $global-padding;
    }

    & > li > ul {
      a {
        padding-left: $global-padding * 3;
      }
      li.post a {
        padding-left: $global-padding * 2;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .row-has-sidebar {
    margin-bottom: $global-margin * 2;

    h1 {
      margin-left: -0.5 * $global-margin;
      margin-right: -0.5 * $global-margin;
    }

    & > .col-md-3 {
      flex: 0 0 30%;
      max-width: 30%;
    }

    & > .col-md-9 {
      flex: 0 0 70%;
      max-width: 70%;

      & > .content {
        margin-left: -0.5 * $global-margin;
        margin-right: -0.5 * $global-margin;
      }
    }
  }

  .product-category-grid {
    .col-12.col-md-4 {
      padding-left: $global-padding / 2;
      padding-right: $global-padding / 2;
    }
  }
}
