ul.product-sidebar-menu {
  padding: 0;
  margin: 0 0;
  list-style: none;
  background: $green-primary;
  color: $white;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba($white, 0.5);

    &:last-child {
      border-bottom: none;
    }
  }
  li.post {
    background: $light-gray-primary;

    &.active {
      font-weight: 600;
    }

    a {
      color: $body-color;
    }
  }

  a {
    display: block;
    padding: $global-padding/2 $global-padding;
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    background: #68BD43;

    a {
      padding-left: $global-padding * 2;
    }
    li.post a {
      padding-left: $global-padding;
    }

    ul {
      background: #A2F779;

      a {
        padding-left: $global-padding * 3;
      }
      li.post a {
        padding-left: $global-padding * 2;
      }
    }
  }
}
